* {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #001D4A;
    color: white;
    margin-top: 10px;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 50px;
    border: 2px solid black;
    cursor: default;
}

body {
    background-color: #0f3038;
}

.choice {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: #282cfc;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    cursor: default;
}

#user-score,
#computer-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: black;
    color: #fff;
    font-size: 1.5rem;
    display: inline;
    padding: 0.5rem;
    border-radius: 1rem;
    pointer-events: none;
}

.draw-container {
    background-color: white;
    /* This is better option than height */
    /* chnages according to the text */
    padding: 20px;
    /* condition for larger screen like laptop */
    /* if width > 300 => width becomes 300 */
    max-width: 300px;
    /* use for smaller screens like phones */
    width: 90%;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    position: fixed;
    top: 20px;
    /* center the div */
    /* move the div to 50% of left (center of screen) */
    left: 50%;
    /* div width : 300px 
    div center : 150px
    so, 300px-50% = 150px */
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
}

.draw-container p {
    font-size: 18px; /* professional way of writing code */
}